<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Dr. Algın Okursoy Web Sayfası</title>
  </head>
  <body>

    <nav class="navbar navbar-default" style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Dr.Algın OKURSOY</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Dosyalar</a></li>
            <!--<li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>-->
            <li><a href="https://akbis.adu.edu.tr/personelcv.asp?RegKey=A-1306">Hakkımda</a></li>
          </ul>
        </div>
      </nav>

      <div class="">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Dosya Adı</th>
              <th scope="col">Açıklama</th>
              <th scope="col">Boyut</th>
              <th scope="col">Link</th>
            </tr>
          </thead>
          <tbody>
            {% for file in files %}
            <tr>
              <th scope="row">{{ file.pk}}</th>
              <td>{{  file.file_name }}</td>
              <td>{{  file.description }}</td>
              <td>{{ file.file.size}}</td>
              <td><a href="{{ file.file.url }}">indir</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

  </body>
</html>
